
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>

<a href="Profile.cshtml">Profile</a>
<a href="Education.cshtml">Education</a>
<a href="Index.cshtml">Index</a>

<li>
    @Html.ActionLink("Profile", "Profile", "Index", new { @class = "elements" }, null)
</li>