
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<a href="Profile.cshtml">Profile</a>
<a href="AboutMe.cshtml">About Me</a>
<a href="Index.cshtml">Index</a>

<li>
    @Html.ActionLink("AboutMe", "Profile", "Index", new { @class = "elements" }, null)
</li>