
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<a href="AboutMe.cshtml">About Me</a>
<a href="Education.cshtml">Education</a>

<li>
    @Html.ActionLink("AboutMe", "Education", "Projects", new { @class = "elements" }, null)
</li>