
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<a href="Education.cshtml">Education</a>
<a href="AboutMe.cshtml">About Me</a>
<a href="Index.cshtml">Index</a>

<li>
    @Html.ActionLink("AboutMe", "Education", "Index", new { @class = "elements" }, null)
</li>